parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\ArticleManager
	- App\Model\Comment
	- App\Forms\FormFactory
	- App\Forms\CommentFormFactory
	- App\Forms\PostFormFactory
	router: App\RouterFactory::createRouter

security:
    users:
        admin: secret
        admin2: secret
