<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>

	<link rel="stylesheet" href="{$basePath}/css/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"/>
	<script src="{$basePath}/js/nette.ajax.js/nette.ajax.js"></script>

</head>

<body>

	<!-- Navbar -->
	<div class="w3-top">
		<div class="w3-bar w3-theme w3-top w3-left-align w3-large">
			<a n:href="Homepage:" class="w3-bar-item w3-button w3-theme-l1">Logo</a>
			<a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
			<a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Values</a>
			<a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">News</a>
			<a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
			<a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Clients</a>
			<a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Partners</a>

			<a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white"></a>
			<a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white"></a>
			<a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white"></a>

            {if $user->loggedIn}
				<a n:href="Sign:out" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Sign out</a>
				<a n:href="Post:create" n:if="$user->loggedIn" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Write new post</a>
            {else}
				<a n:href="Sign:in" class="w3-bar-item w3-button w3-hide-small w3-hover-white w3-right-align">Sign in</a>
            {/if}

		</div>
	</div>

	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<div class="w3-main">
		{include content}
	</div>

	{block scripts}
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}

	<footer id="myFooter">
		<div class="w3-container w3-theme-l2 w3-padding-32">
			<h4>Footer</h4>
		</div>

		<div class="w3-container w3-theme-l1">
			<p>Powered by YH 2017</p>
		</div>
	</footer>

	<script type="text/javascript">
        $.nette.init();
	</script>

</body>
</html>
