body {
    font: 16px/1.5 Georgia, Verdana, Arial;
    margin: 0 auto;
    width: 600px;
    color: #333;
    background-color: #fff;
}

div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin: 1em 0;
}

a[href^="#error:"] {
    background: red;
    color: white;
}

form th, form td {
    vertical-align: top;
    font-weight: normal;
}

form th {
    text-align: right;
}

form .required label {
    font-weight: bold;
}

form .error {
    color: #D00;
    font-weight: bold;
}

h1 {
    font-size: 1.9em;
    margin: .5em 0 1.5em;
    background: url(https://files.nette.org/icons/logo-e1.png) right center no-repeat;
    color: #7A7772;
    text-shadow: 1px 1px 0 white;
}

img {
    border: none;
}

.fifteen img {
    display: block;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    position: relative;
}

.fifteen {
    border-collapse: collapse;
}

.fifteen td {
    padding: 0;
    background: url('../images/game0.jpg') 0 0 no-repeat;
    position: relative;
=position: inherit;
}

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../images/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
}
